In [2]:
import ffn

prices = ffn.get('2330.TW, 1101.TW')
prices.head()

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

               2330tw    1101tw
Date
2000-01-04  35.038952  6.040017
2000-01-05  35.826279  6.197125
2000-01-06  35.038952  5.935278
2000-01-07  34.054661  5.917819
2000-01-10  35.235748  6.109845